.header {
    display: flex;
    height: 70px;
    border-bottom: 2px solid rgb(219, 219, 219);
    width: 98.5vw;
}

.header>div {
    padding: 12px;
}

.header_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header_logo>img {
    height: 100%;
    object-fit: contain;
}

.header_logo>span {
    color: gray;
    font-size: 23px;
    font-weight: 500;
    margin-left: 16px;
}

.header_searchContainer {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 8px;
    margin-left: 20px;
}

.header_searchBar {
    width: 50%;
    height: 110%;
    border-radius: 6px;
    background-color: rgb(237, 237, 237);
    display: flex;
    align-items: center;
    padding: 0 8px;
}

.MuiSvgIcon-root {
    color: rgb(82, 82, 82);
}

.header_searchBar>input {
    flex: 1;
    height: 60%;
    font-size: 19px;
    color: lightgray;
    background: none;
    border: none;
    margin-left: 14px;
}

.header_searchBar>input:focus {
    outline: none;
    color: black;
}

.header_icons {
    display: flex;
    align-items: center;
    margin-right: -30px;
}

.header_searchBar .MuiSvgIcon-root {
    font-size: 30px;
    color: rgb(82, 82, 82);
    margin: 4px;
}

.header_icons .MuiSvgIcon-root {
    font-size: 33px;
    color: rgb(82, 82, 82);
    margin: 4px;
}

.header_icons>span{
    margin-right: 20px;
}

.header_icons>img{
    border-radius: 50%;
    height: 100%;
    object-fit: contain;
    margin-left: 5px;
}