.sideIcons{
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid rgb(219, 219, 219);
}

.sideIcons_top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideIcons_top>img{
    object-fit: contain;
    width: 30px;
    margin: 10px 0;
}

.sideIcons>hr{
    margin: 12px 0;
    width: 90%;
}

.sideIcons_plusIcon{
    display: flex;
    align-items: center;
}